# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Build and compilation outputs
dist/
build/

# Generated code and API schemas
ingestion-service/src/generated/

# Logs and debug files
*.log
npm-debug.log*

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Static GTFS files
MBTA_GTFS/

# Enviroment and cache files from the analytics engine
__pycache__/
.venv/
.pytest_cache/